# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Accidental output files
nul

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env files
.env*

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# vscode
.vscode/

# firebase
dealr-1f955-firebase-adminsdk-fbsvc-45a8e72b7b.json
google-services.json
google-play-service-account.json

# claude
CLAUDE.md

#Google service
*.plist
*.pem